<form class="login-form">
  <md-input-container class="login-full-width">
    <input mdInput name="username" [(ngModel)]="username" placeholder="Username">
  </md-input-container>
  <md-input-container class="login-full-width">
    <input mdInput name="password" type="password" [(ngModel)]="password" placeholder="Password">
  </md-input-container>   
  <div class="button-row">
    <button md-raised-button (click)="loginClick()">Login</button>    
  </div>  
  <div>
    {{loginMessage}}
  </div>  
</form>